<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/icon" size="16x16" href="images/favicon.ico">
   <link rel="stylesheet" href="css/general.css">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/s/profile.css">
   <link rel="stylesheet" href="css/fontawesome.css">

   <title>Smart Quiz - Profile</title>
</head>

<body>

   <%- include ('../partials/header.ejs')%>

<form action="/s/profile" method="post" enctype="multipart/form-data"> 

      <div class="row container d-flex justify-content-center">
         <div class="col-xl-12 col-md-12">
            <div class="card user-card-full">
               <div class="row m-l-0 m-r-0">
                  <div class="col-sm-4 bg-c-lite-green user-profile">
                     <div class="card-block text-center text-white">
                        <div class="m-b-25">
                           <img src='uploads/<%= data.image%>' class="img-radius"
                              alt="User-Profile-Image">
                        </div>
                        <label for="files" class="btn">Change Profile Image</label>
                        <input id="files" style="visibility:hidden;" type="file" name="image">

                     </div>
                  </div>
                  
                  <div class="col-sm-8">
                     <div class="card-block">
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                        <div class="row">
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">First Name</p>
                              <input type="text" name="firstName" value="<%= data.firstName%>">
                           </div>
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Last Name</p>
                              <input type="text" name='lastName' value="<%= data.lastName%>">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Email</p>
                              <input type="email" name='email' value="<%= data.email%>">
                           </div>
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Phone</p>
                              <input type="text" name='phone' value="<%= data.phone%>">
                           </div>
                        </div>
                        <!-- <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6> -->
                        <div class="row">
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Live in</p>
                              <input type="text" name='livein' value="<%= data.livein%>">
                           </div>
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Age</p>
                              <input type="number" name='age' value="<%= data.age%>">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Degree</p>
                              <input type="text" name='degree' value="<%= data.degree%>">
                           </div>
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Discipline</p>
                              <input type="text" name='discipline' value="<%= data.discipline%>">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Semester/Class</p>
                              <input type="text" name='semester' value="<%= data.semester%>">
                           </div>
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Shift</p>
                              <input type="text" name='shift' value="<%= data.shift%>">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Section</p>
                              <input type="text" name='section' value="<%= data.section%>">
                           </div>
                           <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Roll No.</p>
                              <input type="text" name='rollNo' value="<%= data.rollNo%>">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-12">
                              <p class="m-b-10 f-w-600">University/College</p>
                              <input type="text" name='university' value="<%= data.university   %>">
                           </div>
                        </div>
                        <div class="row text-center">
                           <div class="col-sm-12">
                             <button type="submit" id="btn">Save</button>
                           </div>
                        </div>

                     </div>
                  </div>
            </div>
         </div>
      </div>

   </form>


      <script src="js/bootsrap.js"></script>
</body>

</html>