<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="images/favicon.ico" type="image/icon" size="16x16">
   <link rel="stylesheet" href="css/s/result.css">
   <link rel="stylesheet" href="css/general.css">
   <link rel="stylesheet" href="css/bootstrap.css">
   <title>Smart Quiz - Result</title>
</head>

<body>
   <%- include ('../partials/header.ejs')%>

      <div class="container">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th scope="col">Quiz ID</th>
                  <th scope="col">Quiz Title</th>
                  <th scope="col">Total Marks</th>
                  <th scope="col">Obtained Marks</th>
               </tr>
            </thead>
            <tbody>
                <% for(let i = 0 ; i < result.length; i++){%>
                  <tr>
                     <td><%= result[i].quiz_id2%></td>
                     <td><%= result[i].quiz_title%></td>
                     <td><%= result[i].totalMarks%></td>
                     <td><%= result[i].obtainedMarks%></td>
                  </tr>
                  <%}%>
            </tbody>
         </table>
      </div>


      <!-- Use /s/result get method and return all the data  -->
      <script src="js/s/result.js"></script>
</body>

</html>